* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
.a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
a:hover,
a:focus {
  text-decoration: underline;
}
.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  text-transform: uppercase;
}
.blogPosts{
  background: linear-gradient(#f5deb3, #faf0e6);
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.button {
  background-color: #353535;
  border: 2px solid rgb(87, 87, 87);
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 0px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.button1 {
  margin-top: 20px;
  border-radius: 5px;
  width: 35%;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.footer {
  padding: 1em 0;
}

.footer a {
  color: #ccc;
  font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}
h3 {
  font-weight: 100;
}

#layout {
  padding: 0;
 
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.Modal{
  margin-top: 70px;
  
}
.modal-img-button{
  width: 1px;
}
.modal-button{
  background-color: rgb(0, 255, 191);
  font-size: 30px;
}
.modal-content{
  width: 10px;
}
.modal-header {
  font-size: 20px;
  font-weight: 700;
  margin-left: 43px;

}
.modal-body{
  width: 100vw;
  margin-right: 5px;
  
}
.modal-body .modal-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(6, 254, 230);
  color: rgb(23, 23, 23);
  font-size: 16px;
  padding: 12px 24px;
  border: 5px solid rgb(0, 255, 191);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}



.content {
  padding: 0em 1em 0;
}
img{
  max-width: 100vw;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-logo {
  border-radius: 0px;
  float: right;
  margin-left: 1em;
  margin-bottom: 1.6em;
}

.post-description {
  font-family: Georgia, "Cambria", serif;
  color: rgb(0, 0, 0);
  margin-top: 15px;
  margin-bottom: -15px;
  font-size: 17px;
}
.post-title{
  padding-left: 35px;
}
.post-description img{

  max-width:40vw;
  max-height: 70vh;

}

.post-meta {
  color: #999;
  font-size: 90%;
  height: 25px;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}

.post-category-js {
  background: #F0DB4F;
}

.post-images {
  margin: 1em 0;
}
.single-post{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vaca{
  width: 100%;
  height: 70vh;
 margin-left: -9px;
}

.fade.modal.show{
  width: 100vw;
  padding: 0;
}
@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin: 0 25% 0 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }


  .footer {
    text-align: center;
  }
}
.vacation{
  background-color: blue;
  height: 00%;
  

}
.navbar{
  background-color: gray;
}

.navLinks{
  margin-left: 35px;
}
.navbar-brand{
  margin-left: 35px;
}
p{
  padding-left: 10%;
}
section.post{
  border: 3px solid black;
  margin: 10px;
padding-bottom: 20px;
}


@media screen and (min-width: 1400px) {
  section.post {
    max-width: 700px;
  }
}
@media screen and (min-width: 1400px) {
 .posts {
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
  }
  .button1{
    width: 300px;
  }
  .post{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  .post-description{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 500px;
    margin-right: 50px;
    font-size: 20px;
  }
  .single-post{
   width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .singleBlog{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
  }
    .post-title  {
      padding-left: 12%;
    }
  img{
    max-width: 800px;
  }
  .posts-header{
    margin-left: 10%;
    width: 50%;
  }
  .image{
  margin-top: 850px;
  }

}
@media screen and (min-width: 576px) {
  .modal-header {
  margin-left: 23%;
    }
  .modal-body{
    width: 100%;
   
  }
    .vaca {
      height: 100%;
      max-width: 100%;
      margin: 0;
    }
    .Modal{
      height: 100vh;
      
    }
}